{% extends "base.twig" %}

{% block body %}
    <h1>Отправить новое сообщение</h1>

    {% if errors is not empty %}
        <div style="color: red">При сохранении произошла ошибка</div>
        <ul>
            {% for error in errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/messages" method="post">
        <div>
            <label>
                Текст сообщения для бота *
                <input type="text" name="message[text]" value="{{ data.text ?? '' }}">
                {% if errors.text %}
                    <div style="color: red">{{ errors.text }}</div>
                {% endif %}
            </label>
        </div>
        <br>
        <br>
        <input type="submit" value="Send">
    </form>
{% endblock %}
